html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header, main, footer {
  width: 90%;
  margin: 0 auto;
}
  header {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  footer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  footer { margin: 3em auto; }
  @media screen and (min-width: 640px) {
    header, main, footer { width: 50%; }
  }

img { max-width: 100%; }

/* Custom style */

html, body {
  font-family: Tahoma, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: #002fa7; /* International Klein Blue */
}

table {
  border-spacing: 0;
}
tr:nth-child(even) {
  background-color: whitesmoke;
}
td {
    padding: .5em 1em;
}

blockquote {
  background-color: whitesmoke;
}

header a {
  color: black;
}
  header > h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
  }

footer {
  font-style: italic;
}
